# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Software_Arch\Linz_Mod6_Composition_Strategy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
